{% assign bg = '#fff' %}
{% assign text = '#7288a2' %}
{% assign gray = '#4d5974' %}
{% assign lightgray = '#e5e5e5' %}
{% assign blue = '#03b5d2' %}
<style>
  @import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

  .app-main {
    box-sizing: border-box;
  }

  .app-main::before,
  .app-main::after {
    box-sizing: border-box;
  }

  .app-main {
    margin: 0;
    padding: 0;
    /* font-family: 'Hind', sans-serif; */
    background: {{bg}};
    color: {{gray}};
    display: flex;
  }

  .app-container {
    margin: 0 auto;
    padding: 4rem;
    width: 100%;
  }

  .accordion .accordion-item {
    border-bottom: 1px solid  {{ lightgray }};
  }

  .accordion button[aria-expanded='true'] {
    border-bottom: 1px solid  {{ blue }};
  }

  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: {{text}};
    font-size: 2.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }

  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color:  {{ blue }};
  }

  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color:  {{ blue }};
    border: 1px solid  {{ blue }};
  }

  .accordion .accordion-title {
    padding: 1em 1.5em 1em 0;
  }

  .accordion .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }

  .accordion .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }

  .accordion .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }

  .accordion button[aria-expanded='true'] {
    color:  {{ blue }};
  }

  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }

  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    /* max-height: 9em; */
    max-height: 100%;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }

  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }

  .accordion .accordion-content p {
    font-size: 2rem;
    font-weight: 300;
    margin: 2em 0;
  }

</style>

<div class="app-main">
  <div class="app-container">
    <h2 id="faq-master-title"></h2>
    <div class="accordion" id="faq-accordion">
      <div class="accordion-item" id="faq-accordion-item">
        <button id="accordion-button-1" aria-expanded="false">
          <span class="accordion-title" id="faq-accordion-title">...</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content" id="faq-accordion-content">
          <p>.... ... ..</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function initialLoader() {
    const faqAccordionItems = document.querySelectorAll("#faq-accordion-item");

    const items = document.querySelectorAll('.accordion button');

    function toggleAccordion() {
      const itemToggle = this.getAttribute('aria-expanded');

      for (i = 0; i < items.length; i++) {
        items[i].setAttribute('aria-expanded', 'false');
      }

      if (itemToggle == 'false') {
        this.setAttribute('aria-expanded', 'true');
      }

    }


    items.forEach((item) => item.addEventListener('click', toggleAccordion));
    faqAccordionItems.forEach((item) => {
        item.style.display = 'block';
    });

  }

  function isInViewport(element) {
    var rect = element.getBoundingClientRect();
    var html = document.documentElement;
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || html.clientHeight) &&
      rect.right <= (window.innerWidth || html.clientWidth)
    );
  }

//   var myInterval = setInterval(function () {
//     if (isInViewport(document.getElementById('faq-accordion'))) {
//       initialLoader();
//     }
//   }, 1000);


  setTimeout(function() {
    initialLoader();
  }, 2000);

  document.querySelector("#faq-accordion-item").style.display = "none";
</script>
